.card {
    margin-top:20px;
    margin-bottom: 20px;
}
label {
    padding-top:10px;
}

.parent-container-overlay-inside:hover i {

   color:blue;
}

.bi-pen-fill  {
    opacity: 0;
    font-size:20px;
}


.parent-container-overlay-inside input {
    opacity:0;
    z-index:5000;
  
}



