.card {
    margin-top:20px;
    margin-bottom: 20px;
}
label {
    padding-top:10px;
}


.bi-pen-fill  {
    opacity: 0;
    font-size:20px;
}


.parent-container-overlay-inside input {
    
    opacity:0;
    width:100%;
    height:100%;
    z-index:5000;
  
  
}



