<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">

    <!-- HEADER -->
    <div class="modal-header">
      <button
        #btnClose
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close">
      </button>
    </div>

    <!-- BODY -->
    <div class="modal-body">

      <div *ngIf="!loadingFactoryCreateForm else loadingSpinner"
           class="card w-100 h-100">

        <!-- TITLE -->
        <div class="card-header alert p-2"
             [ngClass]="{
               'alert-primary': !id?.value,
               'alert-success': id?.value && active?.value,
               'alert-danger': id?.value && !active?.value
             }">

          <h6 *ngIf="!id?.value">
            <i class="fa-solid fa-industry"></i> Crear fábrica
          </h6>

          <h6 *ngIf="id?.value">
            <i class="fa-solid fa-industry"></i> Editar fábrica
          </h6>

        </div>

        <!-- FORM -->
        <div class="card-body">

        <form [formGroup]="factoryCreateForm">

  <div class="d-flex w-100 h-100 flex-column">

    <div class="w-100 d-flex justify-content-between">

      <!-- LOGO (IZQUIERDA) -->
      <div class="w-25 mt-3 d-flex flex-column align-items-center">

        <div class="avatar-xl parent-container-overlay-inside">

<img
  [src]="imagePreview
    ? imagePreview
    : (isHover
        ? factoryPicturePath + 'avatar_hover.jpeg'
        : factoryPicturePath + 'avatar.jpeg')"
  (mouseenter)="!imagePreview && (isHover = true)"
  (mouseleave)="!imagePreview && (isHover = false)"
  class="img-fluid rounded avatar-xl child-element-overlayed-centered"
/>




          <input
            type="file"
            class="child-element-overlayed-centered"
            (change)="setFactoryPicture($event)" />
        </div>

        <div class="invalid-feedback d-block text-center">
          {{ factoryPictureStatus }}
        </div>

      </div>

      <!-- DATA (DERECHA) -->
      <div class="w-70">

        <!-- Nombre -->
        <label>Nombre:</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
            maxlength="100"
          [ngClass]="{
            'is-invalid': !!name?.errors,
            'is-valid': name?.valid
          }">

        <div *ngIf="name?.errors as nameErrors"
             class="invalid-feedback">
          <div *ngIf="nameErrors['required']">
            El campo es obligatorio
          </div>
        </div>

        <!-- Ubicación -->
       <label>Ubicación:</label>
<input
  type="text"
  formControlName="location"
  class="form-control"
  maxlength="100"
  [ngClass]="{
    'is-invalid': !!location?.errors,
    'is-valid': location?.valid
  }"
/>


        <div *ngIf="location?.errors as locationErrors"
             class="invalid-feedback">
          <div *ngIf="locationErrors['required']">
            El campo es obligatorio
          </div>
        </div>

  

        <!-- Contacto -->
      <!-- Contacto -->
<label>Contacto:</label>
<input
  type="text"
  formControlName="contact"
  class="form-control"
  maxlength="100"
  [ngClass]="{
    'is-invalid': !!contact?.errors,
    'is-valid': contact?.valid
  }"
/>


        <div *ngIf="contact?.errors as contactErrors"
             class="invalid-feedback">
          <div *ngIf="contactErrors['required']">
            El campo es obligatorio
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- ACTIONS -->
  <div class="d-flex w-100 flex-column align-items-center mt-3">

    <button
      type="button"
      class="btn btn-success"
      (click)="saveFactory()"
      [disabled]="factoryCreateForm.invalid || savingFactory || !factoryCreateForm.dirty">

      <span *ngIf="savingFactory"
            class="spinner-border spinner-border-sm me-1">
      </span>

      <span *ngIf="!id?.value">
        <i class="fa-solid fa-floppy-disk"></i> Crear fábrica
      </span>

      <span *ngIf="id?.value">
        <i class="fa-solid fa-floppy-disk"></i> Guardar cambios
      </span>

    </button>

  </div>

  <form-message
    [formMessage]="factoryCreateFormMessage">
  </form-message>

</form>


          <version-control
            *ngIf="factoryCreateForm.value.id"
            [hasPermission]="hasPermission.bind(this)"
            [entity]="'Factory'"
            [entityId]="factoryCreateForm.value.id"
            class="w-90 m-2">
          </version-control>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingSpinner>
  <loading-spinner class="w-100 h-100"></loading-spinner>
</ng-template>
