
      <!-- Filtro y botón -->
      <div *ngIf="factoriesList && factoriesList.length > 0" class="w-100 d-flex justify-content-between">
     

          <select [(ngModel)]="selectedFactory"
        (ngModelChange)="selectFactory($event)"
        class="form-control form-select form-select-sm w-100"> 
  <option * [ngValue]="null" disabled>
    Seleccione una fábrica para visualizarla
  </option>


  <option *ngFor="let factory of factoriesList" [ngValue]="factory">
    {{ factory.name }}
  </option>
</select>

    

            
        
 
      </div>

