
  
<div class="w-100 h-100 d-flex flex-column  m-0 p-0 overflow-hidden">
  

  <top-navbar  class="w-100 "></top-navbar>

  <div *ngIf="(navbarstateService.displaySideNavbar |async)  as displaySideNavbar " class="d-flex w-100" [ngClass]="{'main-content':(authService.userProfile$ | async) != null, 'full-content':(authService.userProfile$ | async) === null}">


      <side-navbar  [ngClass]="{'w-0': displaySideNavbar == 'false', 'w-20': displaySideNavbar == 'true'}"></side-navbar>

      <div [ngClass]="{'w-100': displaySideNavbar == 'false', 'w-80': displaySideNavbar == 'true'}">
        <router-outlet   ></router-outlet>
      </div>
       

  </div>

</div>