

<div  class="d-flex align-items-center justify-content-center border" style="width:100vw; height: 100vh">

    
 
    
    <div class="w-15 h-30 p-2 border rounded error d-flex flex-column alignt-items-center justify-content-around">
        
        <div class="d-flex flex-column align-items-center">
            <i class="bi bi-exclamation-circle"></i>
      
            <h5>Error</h5>
       
        </div>

        <div class="text-center">
         El servicio no está disponible
        </div>

    </div>
    
    
        
        
    </div>
    
    
    