
.addon-plus-btn {
  position: absolute;
  top: 12%;
  left:-40%;
  font-size: 0.5rem;
  font-weight: bold;
  line-height: 1;
  pointer-events: none; /* <--- ESTA ES LA CLAVE */
}

.addon-select-btn {
  position: absolute;
  top: 12%;
  left:-20%;
  font-size: 0.5rem;
  font-weight: bold;
  line-height: 1;
  pointer-events: none; /* <--- ESTA ES LA CLAVE */
}