
<div class="modal-dialog modal-dialog-centered modal-lg">
 <div class="modal-content">

     <div class="modal-header">   
   
      <button #btnClose
  type="button" 
  class="btn-close" 
  data-bs-target="#createUserModal" 
  data-bs-toggle="modal" 
  data-bs-dismiss="modal" 
  aria-label="Close">
</button>

        
</div>

 <div class="modal-body">


    <div class="card w-100 h-100">

        <div class="card-header alert p-2 alert-success">  <i class="fa-solid fa-user-check me-1"></i>  Reactivar usuario</div>

       
        <div class="card-body">

            <div class="text-center">¿Seguro que desea reactivar al usuario <strong>{{username}}</strong>?</div>
                <div class="d-flex align-items-center justify-content-center">
                    <button data-bs-target="#createUserModal" data-bs-toggle="modal" data-bs-dismiss="modal"  class="btn btn-secondary m-3 ">Cancelar</button>
                        <button (click)="unSuspendUser()" class="btn btn-success m-3">Reactivar usuario</button>
                </div>

            
        </div>
    </div>

    

    

 </div>

 </div>

</div>

