<div *ngIf="!(facade.loading$ | async); else loadingSpinner" class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
  <div class="card w-95 h-95">
    
    <!-- HEADER -->
    <div class="card-header w-100">
      <div class="w-100 d-flex justify-content-between">
        <h5><i class="bi bi-person-fill-gear"></i> Roles y permisos</h5>

        <!-- Botón Crear Rol -->
        <button *ngIf="facade.hasPermission('USER_ROLE_CREATE') && ((facade.formMode$ | async) === 'select' || (facade.formMode$ | async) === 'edit')" 
                class="btn btn-success btn-sm"  
                (click)="facade.createUserRole()">
          <i class="bi bi-plus"></i><i class="bi bi-person-fill-gear"></i> Crear Rol
        </button>

        <!-- Botón Visualizar Roles -->
        <button *ngIf="(facade.formMode$ | async) === 'create'" 
                class="btn btn-primary btn-sm" 
                (click)="facade.cancelSelection()">
          <i class="bi bi-person-fill-gear"></i> Visualizar roles
        </button>
      </div>
    </div>

    <!-- BODY -->
    <div class="card-body d-flex flex-column align-items-center w-100 overflow-auto">
      
      <div class="w-100 h-8">
        <ng-container *ngIf="facade.selectedUserRole$ | async as selectedUserRole">
          <!-- Input nombre rol (solo si es nuevo rol) -->
          <input *ngIf="!selectedUserRole.id" 
                 type="text" 
                 class="form-control w-50 mb-2" 
                 placeholder="Nombre del Rol" 
                 [(ngModel)]="selectedUserRole.name">
        </ng-container>

        <!-- Lista de roles -->
        <users-role-list-component *ngIf="(facade.formMode$ | async) !== 'create'"  
                                   class="w-100" 
                                   [selectedUserRole]="facade.selectedUserRole$ | async"
                                   [userRolesList]="facade.userRolesList$ | async"
                                   (selectUserRoleEvent)="facade.selectUserRole($event)">
        </users-role-list-component>
      </div>

      <div class="w-100 h-92 overflow-auto">
        <ng-container *ngIf="facade.selectedUserRole$ | async as selectedUserRole; else noUserRoleSelected">
          
          <!-- Componente de creación/edición de rol -->
          <user-role-create-component class="w-100"
                                     [userRoleCreateForm]="facade.userRoleCreateForm"
                                     [selectedUserRole]="selectedUserRole"
                                     [modules]="facade.modules"
                                     [formMode]="facade.formMode$ | async"
                                     [saving]="facade.saving$ | async"
                                     [loading]="facade.loading$ | async"
                                     [formMessage]="facade.formMessage$ | async"
                                     (saveUserRoleEvent)="facade.saveUserRole()">
          </user-role-create-component>

          <!-- Version control -->
          <version-control *ngIf="selectedUserRole.id" 
                           [timestamp] = "facade.timestamp$ | async"
                           [hasPermission]="facade.hasPermission.bind(facade)" 
                           [entity]="'UserRole'" 
                           [entityId]="selectedUserRole.id" 
                           class="w-90">
          </version-control>
        </ng-container>
      </div>

    </div>

    <!-- FOOTER -->
    <div *ngIf="facade.hasPermission('USER_VIEW')" class="card-footer text-primary d-flex justify-content-end align-items-center">
      <div [routerLink]="['/users']" class="cursor-pointer">
        <i class="fa-solid fa-users me-1"></i> Gestión de Usuarios
      </div>
    </div>

  </div>
</div>

<!-- LOADING SPINNER -->
<ng-template #loadingSpinner>
  <loading-spinner class="w-100 h-100"></loading-spinner>
</ng-template>

<!-- MENSAJE CUANDO NO HAY ROL SELECCIONADO -->
<ng-template #noUserRoleSelected>
  <div class="cursor-pointer area rounded h-100 border-secondary color-secondary 
              d-flex flex-column justify-content-around align-items-center add-btn"
       style="border:dashed; border-width:1px">
    Una vez seleccione un rol de usuario podrá visualizar sus permisos en este menú.
  </div>
</ng-template>
