

<!--USERS PANEL-->

<div  *ngIf="!loading else loadingSpinner"  class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
  <div class="card w-90 h-90">
    <div class="card-header w-100 h-6">
      <h5><i class="fa-solid fa-users"></i> Gestión de Usuarios </h5>
    </div>

    <div class="card-body d-flex flex-column w-100 h-90">

          <button *ngIf="hasPermission('USERS_CREATE')" class="btn btn-success position-absolute end-0 me-3"  (click)="createUser()" data-bs-toggle="modal" data-bs-target="#createUserModal">
          <i class="fa-solid fa-user-plus"></i> Crear Usuario
        </button>
                
            <users-list-component *ngIf="hasPermission('USERS_VIEW')" class="w-100 h-100"
              
                 [hasPermission]="hasPermission.bind(this)"
                 [profilePicturePath]="profilePicturePath" 
                 [userList]="usersList$ | async" 
                 [timestamp]="timestamp$ | async"

                 (editUserEvent)="editUser($event)" 
                 (suspendUserFromListEvent)="suspendUserFromList($event)" >
                   
            </users-list-component>
    </div>


   
  </div>



</div>

<!--USER CREATE MODAL -->

  <div class="modal fade" id="createUserModal" tabindex="-1" aria-hidden="true">
   <user-create-component     *ngIf="userCreateForm && hasPermission('USERS_CREATE')" class="w-100 h-100"
   
    [hasPermission]="hasPermission.bind(this)"
    [userCreateForm]="userCreateForm"
    [profilePicturePath]="profilePicturePath"
    [usersList]="usersList$ | async"
    [userRolesList]="userRolesList$ | async"
    [imagePreview] = "imagePreview"
    [formMessage] = "formMessage"
    [saving] = "saving"
    [loadingCreateForm] = "loadingCreateForm"
 

    (setProfilePictureEvent)="setprofilePicture($event)"
    (saveUserEvent)="saveUser()"

    
     
   


   ></user-create-component>


  </div>



<!--USER PASSWORD RESET MODAL -->

<div class="modal fade" id="userPasswordResetModal" tabindex="-1" aria-hidden="true">
   <user-password-reset-component  #userPasswordResetComponent    *ngIf="userCreateForm && hasPermission('USERS_PASSWORD_RESET')" class="w-100 h-100"
       [hasPermission]="hasPermission.bind(this)"
      [username]="form['username'].value" 
      (resetPasswordEvent)="resetPassword()" 
   

></user-password-reset-component>
</div>

  


<!--USER SUSPENSION MODAL -->

<div class="modal fade" id="userSuspensionModal" tabindex="-1" aria-hidden="true">

<user-suspension-component  #userSuspensionComponent    *ngIf="userCreateForm && hasPermission('USERS_SUSPENSION')" class="w-100 h-100"
     [hasPermission]="hasPermission.bind(this)"
      [username]="form['username'].value" 
      [origin]="origin" 
      [suspend] = "suspend"
      [formMessage] = "formMessage"
      (suspensionUserEvent)="suspensionUser()">
    
</user-suspension-component>

</div>





<ng-template  #loadingSpinner>
  <loading-spinner class="w-100 h-100"></loading-spinner>
</ng-template>
