
<div  class="d-flex d-wrap align-items-center justify-content-center login-container">

  <div class="card login-form">
    <div *ngIf="!loading; else loadingSpinner"  class="card-body">

 

      <login-component *ngIf="!setPasswordMode"
       [loginForm]="loginForm" 
        [formMessage]="formMessage" 
        [saving]="saving" 
        (loginEvent)="login()" >
      </login-component>

        <set-password-component *ngIf="setPasswordMode"
        [setUserPasswordForm]="setUserPasswordForm" 
        [formMessage]="formMessage" 
        [saving]="saving" 
        (setUserPasswordEvent)="setUserPassword()" >
      </set-password-component>

    </div>
  </div>

</div>

<ng-template  #loadingSpinner>
  <loading-spinner class="w-100 h-100"></loading-spinner>
</ng-template>

