<!-- FACTORIES PANEL -->

<div *ngIf="!loading else loadingSpinner"
     class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">

  <div class="card w-95 h-95 d-flex flex-column">

    <!-- HEADER -->
    <div *ngIf="(showActiveFactories$ | async)" class="card-header pt-1 pb-1 w-100">

      <div class="w-100 d-flex justify-content-between align-items-center">

      
         <h5 class="w-30 d-flex align-items-center m-0 p-0   "><i class="fa-solid fa-industry "></i> Gestión de Fábricas </h5>
  

          <div class="d-flex w-70 justify-content-end align-items-center ">
               <factories-list-component 
          class="w-50 me-1"
          [selectedFactory]="selectedFactory"
          [factoriesList]="availableFactoriesForSelect$ | async"
          (selectFactoryEvent)="selectFactory($event)">


        </factories-list-component>




<div [Tooltip]="'Crear fábrica'" tooltipPlacement="bottom" tooltipClass="tooltip-primary">
          <button 
  *ngIf="hasPermission('FACTORY_CREATE')"
  class="btn btn-xs btn-link text-primary me-1 position-relative btn-menu"
  (click)="createFactory()" data-bs-toggle="modal" data-bs-target="#createFactoryModal">

  <i class="fa-solid fa-industry "></i>

  <!-- signo + superpuesto -->

  <i class="fa-solid fa-plus addon-plus"></i>
  
</button>

</div>



         <button *ngIf="(hasInactiveFactories$ | async)" [Tooltip]="'Fábricas inactivas'" tooltipPlacement="bottom" tooltipClass="tooltip-danger"
      class="btn btn-xs btn-link text-danger me-1 position-relative btn-menu"
      (click)="toggleFactories(false)">
        <i class="fa-solid fa-arrow-right addon-arrow-right"></i>
      <i class="fa-solid fa-industry"></i>
      <i class="fa-solid fa-trash addon-trash"></i>
    
    </button>

    
          </div>

          
     
              
     
      

      </div>
     
    </div>

    <div *ngIf="!(showActiveFactories$ | async)" class="card-header pt-1 pb-1 w-100 alert alert-danger">

  <div class="w-100 d-flex justify-content-between align-items-center">

    <!-- TÍTULO -->
    <h5 class="w-30 d-flex align-items-center m-0 p-0 c">
      <i class="fa-solid fa-industry me-1"></i>
      Fábricas inactivas
    </h5>

    <!-- ACCIONES -->
    <div class="d-flex w-70 justify-content-end align-items-center">

      <factories-list-component 
        class="w-50 me-1"
        [selectedFactory]="selectedFactory"
        [factoriesList]="availableFactoriesForSelect$ | async"
        (selectFactoryEvent)="selectFactory($event)">
      </factories-list-component>

      <!-- Volver a activas -->
      <div [Tooltip]="'Fábricas activas'" tooltipPlacement="bottom" tooltipClass="tooltip-success">
        <button
          class="btn btn-link text-success btn-xs me-1 position-relative btn-menu"
          (click)="toggleFactories(true)">
          
          <i class="fa-solid fa-arrow-left addon-arrow-left"></i>
          <i class="fa-solid fa-industry"></i>
          <i class="fa-solid fa-check addon-check"></i>

        </button>
      </div>

    </div>

  </div>

</div>


    <!-- BODY (scroll interno, no mueve el footer) -->
    <div class="card-body d-flex flex-column overflow-hidden w-100">



         <div *ngIf="(filteredFactory$ | async) as filteredFactory; else noFactorySelected" class="card h-100 w-100">
          <div *ngIf="(showActiveFactoryRoutes$ | async)" class="card-header pb-1  pt-1 w-100 d-flex justify-content-between cursor-pointer"> 

            <div class="d-flex w-30  align-items-center"><i class="fa-solid fa-industry me-1"></i><h6 class="m-0 p-0"> {{filteredFactory.name}} (V{{filteredFactory?.version}})</h6></div>


       
            <div class="d-flex w-70  justify-content-end align-items-center">
              
               <factory-routes-filter-component class="w-50 me-1" *ngIf="selectedFactory && hasPermission('FACTORY_ROUTE_VIEW')"
          [availableRoutesForSelect]="availableFactoryRoutesForSelect$ | async"
          (routeFilterChange)="selectRoute($event)">
        </factory-routes-filter-component>

                <div [Tooltip]="'Crear ruta'" tooltipPlacement="bottom" tooltipClass="tooltip-primary" class="d-flex align-items-center">
<button *ngIf="hasPermission('FACTORY_ROUTE_CREATE') && (selectedFactory$ | async)?.active"
  class="btn btn-link text-primary btn-xs  position-relative btn-menu m-0 p-0"
   (click)="createFactoryRoute()" data-bs-toggle="modal" data-bs-target="#createFactoryRouteModal">

  <i class="fa-solid fa-route addon-route"></i>

  <!-- signo + superpuesto -->
  <span class="addon-plus">+</span>
</button>

</div>

  <div *ngIf="hasPermission('FACTORY_EDIT')" [Tooltip]="'Editar fábrica'" tooltipPlacement="bottom" tooltipClass="tooltip-secondary" class="d-flex align-items-center">


  <i class="fa-solid fa-pen-to-square color-secondary cursor-pointer "
     (click)="editFactory()"
     data-bs-toggle="modal"
     data-bs-target="#createFactoryModal">
  </i>

</div>



      

        <div *ngIf="(hasInactiveFactoryRoutes$ | async) && hasPermission('FACTORY_ROUTE_VIEW')" [Tooltip]="'Rutas inactivas'" tooltipPlacement="bottom" tooltipClass="tooltip-danger">
          <button 
  class="btn btn-xs btn-link text-danger me-1 position-relative btn-menu"
  (click)="toggleFactoryRoutes(false)">
     <i class="fa-solid fa-arrow-right addon-arrow-right"></i>
  <i class="fa-solid fa-route"></i>
    <i class="fa-solid fa-trash addon-trash"></i>


</button>

</div>

    

    <div [Tooltip]="'Desactivar fábrica'" tooltipPlacement="bottom" tooltipClass="tooltip-danger"  *ngIf="selectedFactory?.active && hasPermission('FACTORY_SUSPENSION')" class="d-flex align-items-center ms-1">
           <i class="fa-solid fa-toggle-on color-success cursor-pointer"
     (click)="marckFactoryToSuspend(selectedFactory!,true)"
     data-bs-toggle="modal"
     data-bs-target="#factorySuspensionModal"class="fa-solid fa-solid fa-toggle-on color-success cursor-pointer " ></i>



    </div>

    
    <div [Tooltip]="'Reactivar fábrica'" tooltipPlacement="bottom" tooltipClass="tooltip-success"  *ngIf="!selectedFactory?.active && hasPermission('FACTORY_SUSPENSION')" class="d-flex align-items-center ms-1">
           <i class="fa-solid fa-toggle-off color-success cursor-pointer"
     (click)="marckFactoryToSuspend(selectedFactory!,false)"
     data-bs-toggle="modal"
     data-bs-target="#factorySuspensionModal"class="fa-solid fa-solid fa-toggle-off color-danger cursor-pointer " ></i>



    </div>


            <div  [Tooltip]="'Audit trail'" tooltipPlacement="bottom" tooltipClass="tooltip-secondary"  class="d-flex align-items-center justify-content-center ms-2">
        <i class="fa-solid fa-book cursor-pointer" data-bs-toggle="modal" data-bs-target="#auditTrailFactoryModal"></i>

</div>



    
   





            </div>

         
 
          
   
            
             
            </div>
            
<div *ngIf="!(showActiveFactoryRoutes$ | async)"
     class="card-header pt-1 pb-1 w-100 d-flex justify-content-between cursor-pointer alert alert-danger">

  <!-- IZQUIERDA -->
  <div class="d-flex w-30 align-items-center">
    <i class="fa-solid fa-industry me-1"></i>
    <h6 class="m-0 p-0">
      {{ filteredFactory.name }} (V{{ filteredFactory?.version }}) (rutas inactivas)
    </h6>
  </div>

  <!-- DERECHA -->
  <div class="d-flex w-70 justify-content-end align-items-center">

    <factory-routes-filter-component
      class="w-50 me-1"
      *ngIf="selectedFactory && hasPermission('FACTORY_ROUTE_VIEW')"
      [availableRoutesForSelect]="availableFactoryRoutesForSelect$ | async"
      (routeFilterChange)="selectRoute($event)">
    </factory-routes-filter-component>

    <!-- Volver a rutas activas -->
    <div [Tooltip]="'Rutas activas'" tooltipPlacement="bottom" tooltipClass="tooltip-success">
      <button
        class="btn btn-link text-success btn-xs me-1 position-relative btn-menu"
        (click)="toggleFactoryRoutes(true)">

        <i class="fa-solid fa-arrow-left addon-arrow-left"></i>
        <i class="fa-solid fa-route"></i>
        <i class="fa-solid fa-check addon-check"></i>

      </button>
    </div>

    <!-- Toggle fábrica -->
    <div [Tooltip]="'Desactivar fábrica'"
         tooltipPlacement="bottom"
         tooltipClass="tooltip-secondary"
         *ngIf="selectedFactory?.active && hasPermission('FACTORY_SUSPENSION')"
         class="d-flex align-items-center ms-1">

      <i class="fa-solid fa-toggle-on color-success cursor-pointer"
         (click)="marckFactoryToSuspend(selectedFactory!, true)"
         data-bs-toggle="modal"
         data-bs-target="#factorySuspensionModal">
      </i>
    </div>

    <div [Tooltip]="'Reactivar fábrica'"
         tooltipPlacement="bottom"
         tooltipClass="tooltip-secondary"
         *ngIf="!selectedFactory?.active && hasPermission('FACTORY_SUSPENSION')"
         class="d-flex align-items-center ms-1">

      <i class="fa-solid fa-toggle-off color-danger cursor-pointer"
         (click)="marckFactoryToSuspend(selectedFactory!, false)"
         data-bs-toggle="modal"
         data-bs-target="#factorySuspensionModal">
      </i>
    </div>

    <!-- Audit trail -->
    <div [Tooltip]="'Audit trail'"
         tooltipPlacement="bottom"
         tooltipClass="tooltip-secondary"
         class="d-flex align-items-center justify-content-center ms-2">

      <i class="fa-solid fa-book cursor-pointer"
         data-bs-toggle="modal"
         data-bs-target="#auditTrailFactoryModal">
      </i>
    </div>

  </div>

</div>

            
            
          <div class="card-body flew-grow-1 overflow-auto">

     
  

                  <!-- ROUTES LIST -->
    <div 
     class="w-100 mt-3 overflow-auto">

  <!-- Si la fábrica no tiene rutas -->
  <ng-container *ngIf="filteredFactory.routes!.length > 0; else noFactoryRoutes">

    <!-- Iterar rutas -->
    <factory-route-panel-component
      *ngFor="let route of filteredFactory.routes; trackBy: trackByRoute"
      class="w-100"
      [hasPermission]="hasPermission.bind(this)"
      [factory]="(selectedFactory$ | async)"
      [route]="route"
      [timestamp]="timestamp$ | async"
      (suspendFactoryRouteEvent)="marckFactoryRouteToSuspend($event)"
      (auditTrailFactoryRouteEvent)="selectFactoryRouteAuditTrail($event)"
      [loading]="loading">
    </factory-route-panel-component>

  </ng-container>

</div>
        
          </div>
          
       
        
        </div>
       




    </div>
    


  </div>
</div>


       

<ng-template #loadingSpinner>
  <loading-spinner class="w-100 h-100"></loading-spinner>
</ng-template>



<!--FACTORY CREATE MODAL -->

  <div class="modal fade" id="createFactoryModal" tabindex="-1" aria-hidden="true">
   <factory-create-component     *ngIf="factoryCreateForm && hasPermission('FACTORY_CREATE')" class="w-100 h-100"
   
    [hasPermission]="hasPermission.bind(this)"
    [factoryCreateForm]="factoryCreateForm"
    [factoriesList]="factoriesList$ | async"
    [factoryCreateFormMessage] = "factoryCreateFormMessage"
    [savingFactory] = "savingFactory"
    [loadingFactoryCreateForm] = "loadingFactoryCreateForm"
 
    (saveFactoryEvent)="saveFactory()"

    
     
   


   ></factory-create-component>


  </div>


  <!--FACTORY ROUTE CREATE MODAL -->

  <div class="modal fade" id="createFactoryRouteModal" tabindex="-1" aria-hidden="true">
   <factory-route-create-component     *ngIf="factoryCreateForm && hasPermission('FACTORY_CREATE')" class="w-100 h-100"
   
    [hasPermission]="hasPermission.bind(this)"
    [factoryRouteCreateForm]="factoryRouteCreateForm"
    [factoryRouteCreateFormMessage] = "factoryRouteCreateFormMessage"
    [savingFactoryRoute] = "savingFactoryRoute"
    [loadingFactoryRouteCreateForm] = "loadingFactoryRouteCreateForm"
 
    (saveFactoryRouteEvent)="saveFactoryRoute()"

    
     
   


   ></factory-route-create-component>


  </div>

  <!--FACTORY SUSPENSION MODAL -->

<div class="modal fade" id="factorySuspensionModal" tabindex="-1" aria-hidden="true">

<factory-suspension-component  
    #factorySuspensionComponent
    *ngIf="factoryCreateForm && hasPermission('FACTORY_SUSPENSION')"
    class="w-100 h-100"
    
    [hasPermission]="hasPermission.bind(this)"
    [factoryToSuspend]="factoryToSuspend "
    [factorySuspend] = "factorySuspend"
    [savingSuspensionFactory]="savingSuspensionFactory"
    [formMessage]="factoryRouteSuspensionFormMessage"

    (suspensionFactoryEvent)="suspensionFactory()"
>
</factory-suspension-component>


</div>


  <!--FACTORYROUTE SUSPENSION MODAL -->

<div class="modal fade" id="factoryRouteSuspensionModal" tabindex="-1" aria-hidden="true">

<factory-route-suspension-component  
    #factoryRouteSuspensionComponent
    *ngIf="factoryRouteCreateForm && hasPermission('FACTORY_ROUTE_SUSPENSION')"
    class="w-100 h-100"
    
    [hasPermission]="hasPermission.bind(this)"
    [factoryRouteToSuspend]="factoryRouteToSuspend "
    [factoryRouteSuspend] = "factoryRouteSuspend"
    [savingSuspensionFactoryRoute]="savingSuspensionFactoryRoute"
    [formMessage]="factoryRouteSuspensionFormMessage"

    (suspensionFactoryRouteEvent)="suspensionFactoryRoute()"
>
</factory-route-suspension-component>


</div>

  <!--FACTORY VERSION CONTROL MODAL -->

<div class="modal fade" id="auditTrailFactoryModal" tabindex="-1" aria-hidden="true">

 <version-control [asModal]="true"  [description]="'Fábrica - ' + selectedFactory?.name!" [hasPermission]="hasPermission.bind(this)" [entity]="'Factory'" [entityId]="selectedFactory?.id!"  class="w-90 m-2"></version-control>


</div>


  <!--FACTORYROUTE VERSION CONTROL MODAL -->

<div class="modal fade" id="auditTrailFactoryRouteModal" tabindex="-1" aria-hidden="true">

 <version-control [asModal]="true"  [description]="'Ruta - ' + selectedFactoryRouteAuditTrail?.name" [hasPermission]="hasPermission.bind(this)" [entity]="'FactoryRoute'" [entityId]="selectedFactoryRouteAuditTrail?.id!"  class="w-90 m-2"></version-control>


</div>



  <ng-template  #noFactorySelected>
   <div class="cursor-pointer area rounded h-100 border-secondary color-secondary 
                  d-flex flex-column justify-content-around align-items-center add-btn"
           style="border:dashed; border-width:1px">
          Una vez seleccione una fábrica podrá visualizar sus rutas en este menú.</div>



</ng-template>

<ng-template  #noFactoryRoutes>
<div class="alert alert-danger text-center">Esta fábrica no posee ninguna ruta.</div>



</ng-template>