
<div class="modal-dialog modal-dialog-centered modal-lg">
 <div class="modal-content">

     <div class="modal-header">   

<button #btnClose type="button" class="btn-close" data-bs-dismiss="modal"  (click)="closeModal()" ></button>



        
</div>

 <div class="modal-body">



    <div class="card w-100 h-100">

        <div *ngIf="suspend" class="card-header alert p-2 alert-danger">  <i class="fa-solid fa-user-xmark me-1"></i>  Suspender usuario</div>
        <div *ngIf="!suspend" class="card-header alert p-2 alert-danger">   <i class="fa-solid fa-user-check me-1"></i>  Reactivar usuario</div>

       
        <div class="card-body">

            <div  *ngIf="suspend" class="text-center">¿Seguro que desea suspender al usuario <strong>{{username}}</strong>?</div>
            <div  *ngIf="!suspend" class="text-center">¿Seguro que desea reactivar al usuario <strong>{{username}}</strong>?</div>
                <div class="d-flex align-items-center justify-content-center">
                    
                      <button  *ngIf="suspensionOrigin === 'PANEL'"  (click)="closeModal()"  class="btn btn-secondary m-3 ">Cancelar</button>
                    <button  *ngIf="suspensionOrigin === 'LIST'" (click)="closeModal()"  class="btn btn-secondary m-3 ">Cancelar</button>
                        <button [disabled] = "saving" *ngIf="suspend"  (click)="suspensionUser()" class="btn btn-danger m-3">  <span *ngIf ="saving" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Suspender usuario</button>
                       <button [disabled] = "saving" *ngIf="!suspend" (click)="suspensionUser()" class="btn btn-success m-3">  <span *ngIf ="saving" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Reactivar usuario</button>
                </div>

                   <form-message [formMessage]="formMessage"></form-message>

            
        </div>
    </div>

    

    

 </div>

 </div>

</div>

