.addon-plus {
  position: absolute;
  bottom: 5%;
  left:20%;
  font-size: 0.5rem;
  font-weight: bold;
  line-height: 1;
  pointer-events: none; /* <--- ESTA ES LA CLAVE */
}





.addon-check {
  position: absolute;
   bottom: 5%;
  font-size: 0.5rem;

  font-weight: bold;

  pointer-events: none; /* <--- ESTA ES LA CLAVE */
}

.addon-trash {
  position: absolute;
   bottom: 5%;
  font-size: 0.5rem;

  font-weight: bold;

  pointer-events: none; /* <--- ESTA ES LA CLAVE */
}


.addon-arrow-left {
  position: absolute;
   top:0;
   left:3%;
  font-size: 0.5rem;

  font-weight: bold;

  pointer-events: none; /* <--- ESTA ES LA CLAVE */
}



.addon-arrow-right {
  position: absolute;
   top:0;
  left:15%;
  font-size: 0.5rem;

  font-weight: bold;

  pointer-events: none; /* <--- ESTA ES LA CLAVE */
}




