
<div class="modal-dialog modal-dialog-centered modal-lg">
 <div class="modal-content">

     <div class="modal-header">   
   
        <button  #btnClose type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        
</div>

 <div class="modal-body">


    <div class="card w-100 h-100">

        <div class="card-header">
            <h6 *ngIf="!id?.value"><i class="fa-solid fa-user-plus"></i> Crear usuario</h6>
            <h6 *ngIf="id?.value"><i class="fa-solid fa-user-pen"></i> Editar usuario</h6>           
        </div>

       
        <div class="card-body">



            <form   [formGroup]="userCreateForm">

                <div class="d-flex w-100 h-100 flex-column">
                    <div class="w-100  d-flex justify-content-between">
                    <div class="w-25 mt-3 d-flex flex-column align-items-center">

                            <div  class="avatar-xl parent-container-overlay-inside ">
                            <img  [src]="  imagePreview || profilePicturePath+'avatar.jpeg'" alt="..." class=" text-center img-fluid rounded-circle avatar-xl child-element-overlayed-centered ">
                            <i  class="bi bi-pen-fill child-element-overlayed-centered text-white"></i>    
                            <input  (change)=" setprofilePicture( $event)" class="child-element-overlayed-centered" id="file-input" type="file" />

       
                            
                            </div>
                             <div style="display:block !important; font-size: 10px !important" class="invalid-feedback text-center" >
                    <div>{{profilePictureStatus}}</div>
                   
                </div>

                <div *ngIf="id?.value" class="d-flex flex-column w-100 align-items-center">
                 


                            <div [ngSwitch]="status?.value" class="mt-2 small" >
                               
                                        <span  class="alert p-1 alert-success" *ngSwitchCase=userStatus.Active>Usuario activo</span>
                                        <span  class="alert p-1 alert-secondary" *ngSwitchCase=userStatus.Inactive>Usuario inactivo</span>
                                        <span  class="alert p-1 alert-danger" *ngSwitchCase=userStatus.Suspended>Usuario suspendido</span>
                            </div>

                    
                          <button (click)="changeUserStatus()" *ngIf="status?.value === userStatus.Active " class="btn btn-sm btn-danger mt-3"><i class="fa-solid fa-user-xmark me-1"></i> Suspender usuario</button>
                          <button (click)="changeUserStatus()" *ngIf="status?.value === userStatus.Suspended " class="btn btn-sm btn-success mt-3"><i class="fa-solid fa-user-check me-1"></i> Activar usuario</button>   
        

                </div>


                    </div>
                    <div class="w-70">

                        


                
        
                <label>Nombre:</label>
                <input type="text" formControlName="name" class="form-control" (input)="createUsername()" [ngClass]="{'is-invalid': !!name?.errors, 'is-valid': name?.valid}">

                  <div *ngIf="name?.errors as nameErrors" class="invalid-feedback">
                        <div *ngIf="nameErrors['required']">El campo es obligatorio</div>
                         <div *ngIf="nameErrors['minlength']">El campo debe tener al menos 6 caracteres</div>
                        <div *ngIf="nameErrors['validName']">El campo debe estar compuesto por Nombre y Apellido</div>
                 </div>
        
                <label>Rol</label>
        
                <select [compareWith]="compareRoles" formControlName="userRole" class="form-control form-select" [ngClass]="{'is-invalid': !!userRole?.errors, 'is-valid': userRole?.valid}"> 
                    <option [ngValue]="null"></option>
                    <option *ngFor="let userRole of userRolesList" [ngValue]="userRole">{{userRole.name}}</option>
        
                    
                   
                   
                </select>
        


                 <div *ngIf="userRole?.errors as userRoleErrors" class="invalid-feedback">
                        <div *ngIf="userRoleErrors['required']">El campo es obligatorio</div>
            
                 </div>

        
                <label>Usuario:</label>
                <input type="text" formControlName="username" class="form-control" readonly [ngClass]="{'is-invalid': !!username?.errors, 'is-valid': username?.valid}">
        
    

                   <div *ngIf="username?.errors as usernameErrors" class="invalid-feedback">
                        <div *ngIf="usernameErrors['required']">El usuario será creado en base al nombre proporcionado y no podrá ser modificado.</div>
            
                 </div>

       
               
        
                <label *ngIf="(status?.value ==='inactive' || !id?.value)">Contraseña:</label>
                <input *ngIf="(status?.value ==='inactive') || !id?.value" type="text" formControlName="password" class="form-control" readonly>
        
                <div *ngIf="status?.value ==='inactive' || !id?.value" class="invalid-feedback" >
                    <div>El usuario es creado con una contraseña por defecto que se modifica en el primer inicio</div>
                   
                </div>

                <div class="w-100 d-flex justify-content-end">
                
                       <button (click)="resetPassword()" *ngIf="status?.value =='active'" class="btn btn-sm  btn-primary mr-1 mt-4">


                        
                       <i class="fa-solid fa-lock-open"></i>
                      Resetear contraseña


                    </button>
                </div>


                 
        
                    </div>
                </div>
                </div>

                <div class="d-flex w-100 flex-column align-items-center">

                    
                <div class="text-center">
        
                    <button *ngIf="userCreateForm.dirty"  (click) = "saveUser()" class="btn btn-success mr-1 mt-2" [disabled] = "userCreateForm.invalid || submitted">


                        
                        <span *ngIf ="submitted" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                      <span *ngIf="!id?.value"><i class="fa-solid fa-floppy-disk"></i> Crear usuario </span>
                        <span *ngIf="id?.value"> <i class="fa-solid fa-floppy-disk"></i> Guardar cambios</span>

                    </button>

            

                 
                </div>
        
                <div *ngIf="!formError && (formErrorMsg || '').length > 0" class="alert alert-success mt-2" role="alert">
                    {{formErrorMsg}}
                   </div>
        
                   <div *ngIf="formError && (formErrorMsg || '').length > 0" class="alert alert-danger mt-2" role="alert">
                    {{formErrorMsg}}
                  </div>
        
                </div>

        
                
        
        
        
            </form>
        </div>
    </div>

    

    

 </div>

 </div>

</div>


  