
<div class="modal-dialog modal-dialog-centered modal-lg">
 <div class="modal-content">

     <div class="modal-header">   
   
        <button  #btnClose type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        
</div>

 <div class="modal-body">


    <div *ngIf="!loadingCreateForm else loadingSpinner"  class="card w-100 h-100">

        <div class="card-header alert p-2" [ngClass] = "{
            'alert-primary': !id?.value,
            'alert-success': id?.value && active?.value,
            'alert-secondary':id?.value && !active?.value,
            'alert-danger': id?.value && suspended?.value
           
           }">
            <h6 *ngIf="!id?.value"><i class="fa-solid fa-user-plus"></i> Crear usuario</h6>



            <h6 *ngIf="id?.value"><i class="fa-solid fa-user-pen"></i> Editar usuario</h6>           
        </div>

       
        <div class="card-body">



            <form  [formGroup]="userCreateForm">

                <div class="d-flex w-100 h-100 flex-column">
                    <div class="w-100  d-flex justify-content-between">
                    <div class="w-25 mt-3 d-flex flex-column align-items-center">

                            <div  class="avatar-xl parent-container-overlay-inside ">
                            <img  [src]="  imagePreview || profilePicturePath+'avatar.jpeg'" alt="..." class=" text-center img-fluid rounded-circle avatar-xl child-element-overlayed-centered ">
                            <i  class="bi bi-pen-fill child-element-overlayed-centered text-white"></i>    
                            <input  (change)=" setprofilePicture( $event)" class="child-element-overlayed-centered" id="file-input" type="file" />

       
                            
                            </div>
                             <div style="display:block !important; font-size: 10px !important" class="invalid-feedback text-center" >
                    <div>{{profilePictureStatus}}</div>
                   
                </div>

                <div *ngIf="id?.value" class="d-flex flex-column w-100 align-items-center">
                 

          <button *ngIf="!suspended?.value && hasPermission('USERS_SUSPENSION')"   class="btn btn-sm btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#userSuspensionModal">
                                 <i class="fa-solid fa-user-xmark me-1"></i> Suspender usuario
           </button>

                           
              <button *ngIf="suspended?.value && hasPermission('USERS_SUSPENSION')"   class="btn btn-sm btn-success mt-3" data-bs-toggle="modal" data-bs-target="#userSuspensionModal">
                                 <i class="fa-solid fa-user-check me-1"></i> Reactivar usuario
           </button>

                    


                </div>


                    </div>
                    <div class="w-70">

                        


                
        
                <label>Nombre:</label>
                <input type="text" formControlName="name" class="form-control" (input)="createUsername()" [ngClass]="{'is-invalid': !!name?.errors, 'is-valid': name?.valid}">

                  <div *ngIf="name?.errors as nameErrors" class="invalid-feedback">
                        <div *ngIf="nameErrors['required']">El campo es obligatorio</div>
                         <div *ngIf="nameErrors['minlength']">El campo debe tener al menos 6 caracteres</div>
                        <div *ngIf="nameErrors['validName']">El campo debe estar compuesto por Nombre y Apellido</div>
                 </div>
        
                <label>Rol</label>
        
                <select [compareWith]="compareRoles" formControlName="userRole" class="form-control form-select" [ngClass]="{'is-invalid': !!userRole?.errors, 'is-valid': userRole?.valid}"> 
                    <option [ngValue]="null"></option>
                    <option *ngFor="let userRole of userRolesList" [ngValue]="userRole">{{userRole.name}}</option>
        
                    
                   
                   
                </select>
        


                 <div *ngIf="userRole?.errors as userRoleErrors" class="invalid-feedback">
                        <div *ngIf="userRoleErrors['required']">El campo es obligatorio</div>
            
                 </div>

        
                <label>Usuario:</label>
                <input type="text" formControlName="username" class="form-control" readonly [ngClass]="{'is-invalid': !!username?.errors, 'is-valid': username?.valid}">
        
    

                   <div *ngIf="username?.errors as usernameErrors" class="invalid-feedback">
                        <div *ngIf="usernameErrors['required']">El usuario será creado en base al nombre proporcionado y no podrá ser modificado.</div>
            
                 </div>

       
               
        
                <label *ngIf="(!active?.value || !id?.value)">Contraseña:</label>
                <input *ngIf="(!active?.value) || !id?.value" type="text" formControlName="password" class="form-control" readonly>
        
                <div *ngIf="!active || !id?.value" class="invalid-feedback" >
                    <div>El usuario es creado con una contraseña por defecto que se modifica en el primer inicio</div>
                   
                </div>

                <div class="w-100 d-flex justify-content-end">

            
                             <button *ngIf="active?.value && hasPermission('USERS_PASSWORD_RESET')"   class="btn btn-sm  btn-primary mr-1 mt-4" data-bs-toggle="modal" data-bs-target="#userPasswordResetModal">
                                 <i class="fa-solid fa-lock-open"></i>  Resetear contraseña
                                </button>


                        
             

                </div>


                 
        
                    </div>
                </div>
                </div>

                <div class="d-flex w-100 flex-column align-items-center">

                    
                <div class="text-center">
        
                    <button   (click) = "saveUser()" class="btn btn-success mr-1 mt-2" [disabled] = "userCreateForm.invalid || saving || !userCreateForm.dirty">


                        
                        <span *ngIf ="saving" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                      <span *ngIf="!id?.value"><i class="fa-solid fa-floppy-disk"></i> Crear usuario </span>
                        <span *ngIf="id?.value"> <i class="fa-solid fa-floppy-disk"></i> Guardar cambios</span>

                    </button>

            

                 
                </div>
        
          
        
                </div>

                <form-message [formMessage]="formMessage"></form-message>

        
                
        
        
        
            </form>

               <version-control   *ngIf="userCreateForm.value.id" [hasPermission]="hasPermission.bind(this)"[entity]="'User'" [entityId]="userCreateForm.value.id" class="w-90 m-2"></version-control>
        </div>
    </div>

    

    

 </div>

 </div>

</div>


  

<ng-template  #loadingSpinner>
  <loading-spinner class="w-100 h-100"></loading-spinner>
</ng-template>
