
      <!-- Filtro y botón -->
      <div class="w-100 d-flex justify-content-between mb-3">
        <form [formGroup]="userListFilterForm" class="w-50">
          <input type="text" formControlName="filter" placeholder="Busca por Nombre, Usuario o Rol" (input)="filterTable($event)" class="form-control" maxlength="30">
        </form>
 
      </div>

      <!-- Listado de usuarios -->
      <div class="card flex-grow-1 d-flex flex-column w-100 h-90">
        <div class="card-header w-100 h-8">
          <h6><i class="bi bi-person-lines-fill"></i> Listado de usuarios</h6>
        </div>

        <div class="card-body p-0 d-flex flex-column w-100 h-92">
          <!-- Encabezado fijo -->
          <div class="w-100   d-flex align-items-end ">
            <table class="table  w-100 h-80 m-0 p-0">
              <thead>
                <tr>
                  <th></th>
                  <th>Nombre </th>
                  <th>Usuario</th>
                 <th>
  Rol
  <table-header-filter-checkboxes-multiple
    [options]="userRolesOptions"
    [(selected)]="selectedRoles"
     (selectedChange)="filterTable()"
  ></table-header-filter-checkboxes-multiple>
</th>

                   <th>Estado 
      <table-header-filter-checkboxes-multiple
    [options]="[
      {name:'Operativo'},
      {name:'No operativo'},
      {name:'Suspendido'}]"
    [(selected)]="selectedStatus"
     (selectedChange)="filterTable()"
  ></table-header-filter-checkboxes-multiple>
                  </th>
                  <th *ngIf="hasPermission('USERS_EDIT') || hasPermission('USERS_SUSPENSION') || hasPermission('USERS_SUSPENSION')" >Acciones</th>
                </tr>
              </thead>
            </table>
          </div>

          <!-- Scroll del cuerpo -->
          <div class="flex-grow-1 overflow-auto w-100 h-90" >
            <table *ngIf="userList; else loadingSpinner" class="table  mb-0">
              <tbody >
                <tr *ngFor="let user of filteredUserList">
                  <td>
                    <img [src]="user.hasProfilePicture ? profilePicturePath + 'ProfilePic_' + user.id + '.jpeg' + '?t=' + timestamp : profilePicturePath + 'avatar.jpeg'"
                         alt="..." class="img-fluid rounded-circle avatar">
                  </td>
                  <td class="align-middle">{{ user.name }} </td>
                  <td class="align-middle">{{ user.username }}</td>
                 <td class="align-middle"  
                 [class.link-primary]="hasPermission('USERS_ROLE_VIEW')"
                [class.text-decoration-underline]="hasPermission('USERS_ROLE_VIEW')"
                 [class.cursor-pointer]="hasPermission('USERS_ROLE_VIEW')"
                [routerLink]="hasPermission('USERS_ROLE_VIEW') ? ['/users/roles/'+user.userRole.name] : null">
                {{ user.userRole.name }}
                
                </td>
                  <td class="align-middle">
                    <span *ngIf="user.suspended" class="color-danger">Suspendido</span>
                    <span *ngIf="!user.suspended && user.active" class="color-success">Operativo</span>
                    <span *ngIf="!user.suspended && !user.active" class="color-primary">No operativo</span>
                  </td>
                  <td *ngIf="hasPermission('USERS_EDIT') || hasPermission('USERS_SUSPENSION') || hasPermission('USERS_SUSPENSION')" class="align-middle ">
                    <div class="d-flex w-100 justify-content-center">
<!-- EDITAR -->
<span *ngIf="hasPermission('USERS_EDIT')">

  <i class="fa-solid fa-pen-to-square color-secondary cursor-pointer me-2"
     (click)="editUser(user)"
     data-bs-toggle="modal"
     data-bs-target="#createUserModal">
  </i>

</span>

<!-- SUSPENDER -->
<span *ngIf="!user.suspended && hasPermission('USERS_SUSPENSION')">

  <i class="fa-solid fa-toggle-on color-success cursor-pointer ms-3"
     (click)="userSuspensionFromList(user, true)"
     data-bs-toggle="modal"
     data-bs-target="#userSuspensionModal">
  </i>

</span>

<!-- REACTIVAR -->
<span *ngIf="user.suspended && hasPermission('USERS_SUSPENSION')">

  <i class="fa-solid fa-toggle-off color-danger  cursor-pointer ms-3"
     (click)="userSuspensionFromList(user, false)"
     data-bs-toggle="modal"
     data-bs-target="#userSuspensionModal">
  </i>

</span>

                    
                    </div>
          
                  </td>
                  
                </tr>
                <tr *ngIf="filteredUserList && filteredUserList.length === 0">
                  <td colspan="5" class="text-danger text-center">No hay usuarios en el sistema.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
 

      <ng-template  #loadingSpinner>
  <loading-spinner class="w-100 h-100"></loading-spinner>
</ng-template>
