

<div  class="d-flex align-items-center justify-content-center border w-100 h-100">

    
 
    
    <div class="mw-15 Mw-20 mh-30 Mh-80 p-5 border rounded error d-flex flex-column alignt-items-center justify-content-around">
        
        <div class="d-flex flex-column align-items-center">
            <i class="fa-solid fa-lock"></i>
      
            <h5 class="mt-2">Acceso restringido</h5>

             <div class="text-center mt-3">
         No cuenta con permisos suficientes para acceder al recurso. Contacte al administrador.
        </div>
       
        </div>

       

    </div>
    
    
        
        
    </div>

    
    