<!-- FACTORIES PANEL -->

<div *ngIf="!loading else loadingSpinner"
     class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">

  <div class="card w-95 h-95 d-flex flex-column">

    <!-- HEADER -->
    <div class="card-header w-100">

      <div class="w-100 d-flex justify-content-between">
         <h5><i class="fa-solid fa-industry"></i> Gestión de Fábricas </h5>
        <button
          *ngIf="hasPermission('FACTORIES_CREATE')"
          class="btn btn-success btn-sm"
          (click)="createFactory()" data-bs-toggle="modal" data-bs-target="#createFactoryModal">
          <i class="bi bi-plus"></i><i class="fa-solid fa-industry "></i> Crear Fábrica
        </button>
      </div>
     
    </div>

    <!-- BODY (scroll interno, no mueve el footer) -->
    <div class="card-body flex-grow-1 d-flex flex-column overflow-auto w-100">

      <div class="w-100 h-8 d-flex justify-content-between align-items-center  ">


    

        <factories-list-component
          class="w-30 mb-3"
          [selectedFactory]="selectedFactory"
          [factoriesList]="factoriesList$ | async"
          (selectFactoryEvent)="selectFactory($event)">


        </factories-list-component>

        



        



     
      

      </div>

         <div *ngIf="(filteredFactory$ | async) as filteredFactory; else noFactorySelected" class="card">
          <div class="card-header w-100 d-flex justify-content-between cursor-pointer"> 

            <div class="d-flex"><i class="fa-solid fa-industry me-1"></i><h6> {{filteredFactory.name}} </h6></div>

            <div class="d-flex w-50 justify-content-end">
              
               <factory-routes-filter-component class="w-40 me-1"
          *ngIf="selectFactory "
        
          [availableRoutesForSelect]="availableRoutesForSelect$ | async"
          (routeFilterChange)="selectRoute($event)">
        </factory-routes-filter-component>

        <button
          *ngIf="hasPermission('FACTORIES_CREATE') && (selectedFactory$ | async) "
          class="btn btn-primary btn-xs me-1"
          (click)="createFactoryRoute()" data-bs-toggle="modal" data-bs-target="#createFactoryRouteModal">
         <i class="bi bi-plus"></i> <i class="fa-solid fa-route"></i> Agregar ruta
        </button>


<ng-container *ngIf="hasInactiveRoutes$ | async">

  <ng-container *ngIf="!(showInactiveRoutes$ | async); else showActive">

    <button
      class="btn btn-xs btn-danger"
      (click)="toggleRoutes()">
      <i class="fa-solid fa-trash me-1"></i>
      Rutas inactivas
    </button>

  </ng-container>

  <ng-template #showActive>
    <button
      class="btn btn-xs btn-success"
      (click)="toggleRoutes()">
      <i class="fa-solid fa-check me-1"></i>
      Rutas activas
    </button>
  </ng-template>

</ng-container>





            </div>

         
 
          
   
            
             
            </div>
            
            
            
            
          <div class="card-body">

     
  

                  <!-- ROUTES LIST -->
    <div 
     class="w-100 mt-3 overflow-auto">

  <!-- Si la fábrica no tiene rutas -->
  <ng-container *ngIf="filteredFactory.routes!.length > 0; else noFactoryRoutes">

    <!-- Iterar rutas -->
    <factory-route-panel-component
      *ngFor="let route of filteredFactory.routes; trackBy: trackByRoute"
      class="w-100"
      [hasPermission]="hasPermission.bind(this)"
      [route]="route"
      [timestamp]="timestamp$ | async"
      (suspendFactoryRouteEvent)="marckFactoryRouteToSuspend($event)"
      [loading]="loading">
    </factory-route-panel-component>

  </ng-container>

</div>
          </div>
        </div>
       




    </div>


  </div>
</div>

<ng-template #loadingSpinner>
  <loading-spinner class="w-100 h-100"></loading-spinner>
</ng-template>



<!--FACTORY CREATE MODAL -->

  <div class="modal fade" id="createFactoryModal" tabindex="-1" aria-hidden="true">
   <factory-create-component     *ngIf="factoryCreateForm && hasPermission('FACTORIES_CREATE')" class="w-100 h-100"
   
    [hasPermission]="hasPermission.bind(this)"
    [factoryCreateForm]="factoryCreateForm"
    [factoriesList]="factoriesList$ | async"
    [factoryFormMessage] = "factoryFormMessage"
    [savingFactory] = "savingFactory"
    [loadingFactoryCreateForm] = "loadingFactoryCreateForm"
 
    (saveFactoryEvent)="saveFactory()"

    
     
   


   ></factory-create-component>


  </div>


  <!--FACTORY ROUTE CREATE MODAL -->

  <div class="modal fade" id="createFactoryRouteModal" tabindex="-1" aria-hidden="true">
   <factory-route-create-component     *ngIf="factoryCreateForm && hasPermission('FACTORIES_CREATE')" class="w-100 h-100"
   
    [hasPermission]="hasPermission.bind(this)"
    [factoryRouteCreateForm]="factoryRouteCreateForm"
    [factoryRouteFormMessage] = "factoryRouteFormMessage"
    [savingFactoryRoute] = "savingFactoryRoute"
    [loadingFactoryRouteCreateForm] = "loadingFactoryRouteCreateForm"
 
    (saveFactoryRouteEvent)="saveFactoryRoute()"

    
     
   


   ></factory-route-create-component>


  </div>



  <!--FACTORYROUTE SUSPENSION MODAL -->

<div class="modal fade" id="factoryRouteSuspensionModal" tabindex="-1" aria-hidden="true">

<factory-route-suspension-component  
    #factoryRouteSuspensionComponent
    *ngIf="factoryRouteCreateForm && hasPermission('FACTORIES_ROUTE_SUSPENSION')"
    class="w-100 h-100"
    
    [hasPermission]="hasPermission.bind(this)"
    [factoryRouteToSuspend]="factoryRouteToSuspend "
    [suspend] = "suspend"
    [savingSuspensionFactoryRoute]="savingSuspensionFactoryRoute"
    [formMessage]="factoryRouteFormMessage"

    (suspensionFactoryRouteEvent)="suspensionFactoryRoute()"
>
</factory-route-suspension-component>


</div>



  <ng-template  #noFactorySelected>
   <div class="cursor-pointer area rounded h-100 border-success color-success 
                  d-flex flex-column justify-content-around align-items-center add-btn"
           style="border:dashed; border-width:1px">
          Una vez seleccione una fábrica podrá visualizar sus rutas en este menú.</div>



</ng-template>

<ng-template  #noFactoryRoutes>
<div class="alert alert-danger text-center">Esta fábrica no posee ninguna ruta.</div>



</ng-template>