<div class="d-flex d-wrap align-items-center justify-content-center w-100 h-100">

  <div class="card w-95 h-95">

    <div class="card-header">
      <i class="fa-solid fa-book"></i> Audit Trail
    </div>

    <!-- CONTENIDO -->
    <div *ngIf="!loading; else loadingSpinner"
         class="card-body d-flex flex-column"
         style="height: 100%; overflow: hidden;">

      <!-- FILTROS 1 -->
      <div class="row mb-3" style="flex-shrink: 0;">

        <div class="col">
          <input class="form-control" placeholder="Buscar por Descripción, Cambios o #ID del trail" [(ngModel)]="search" (keyup.enter)="applyFilters()">
        </div>

        <div class="col">
          <select class="form-select" [(ngModel)]="entity" (change)="applyFilters()">
            <option value="">Todas las entidades</option>
            <option *ngFor="let e of entities" [value]="e">{{ e }}</option>
          </select>
        </div>

        <div class="col">
          <select class="form-select" [(ngModel)]="author" (change)="applyFilters()">
            <option value="">Autor</option>
            <option *ngFor="let a of authors" [value]="a">{{ a }}</option>
          </select>
        </div>

        <div class="col">
          <select class="form-select" [(ngModel)]="action" (change)="applyFilters()">
            <option value="">Acción</option>
            <option *ngFor="let ac of actions" [value]="ac">{{ ac }}</option>
          </select>
        </div>

      </div>

      <!-- FILTROS 2 -->
      <div class="row pb-3 mb-2 border-bottom" style="flex-shrink: 0;">

        <div class="col">
          <label>Desde</label>
         <input type="date" [max]="dateTo || today" class="form-control" [(ngModel)]="dateFrom">

        </div>

        <div class="col">
          <label>Hasta</label>
          <input type="date" [max]="today"   [min]="dateFrom" class="form-control" [(ngModel)]="dateTo">
        </div>

        <div class="col d-flex align-items-end">
          <button class="btn btn-primary w-100" (click)="applyFilters()"><i class="fa-solid fa-filter"></i>  Filtrar</button>
        </div>

      </div>

      <!-- TABLA -->
      <div class="table-responsive flex-grow-1"
           style="overflow-y: auto; min-height: 0;">

        <table class="table table-sm text-center ">
          <thead>
            <tr>
              <th class="w-2">#</th>
              <th class="w-10">Entidad</th>
              <th class="w-3">ID</th>
              <th class="w-15">Acción</th>
              <th class="w-20">Cambios</th>
              <th class="w-30">Descripción</th>
              <th class="w-10">Autor</th>
              <th class="w-10">Fecha y hora</th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let item of logs">

              <td>{{ item.id }}</td>
              <td>{{ item.entity }}</td>
              <td>{{ item.entityId }}</td>
              <td>{{ item.action }}</td>
              <td>
                <ul class="p-0 m-0" style="list-style:none;">
                  <li *ngFor="let key of objectKeys(item.changesParsed)">
                    <strong>{{ key }}:</strong>
                    <span class="text-danger">{{ item.changesParsed[key].oldValue }}</span>
                    →
                    <span class="text-success">{{ item.changesParsed[key].newValue }}</span>
                  </li>
                </ul>
              </td>

              <td>{{ item.description || '-' }}</td>

              

              <td>{{ item.author }}</td>

                    <td>{{ item.created | date:'dd/MM/yyyy HH:mm:ss' }}</td>

            </tr>

              <!-- MENSAJE CUANDO NO HAY REGISTROS -->
  <tr *ngIf="logs.length === 0">
    <td colspan="8" class="text-center text-muted py-4">
      No se encontraron registros.
    </td>
  </tr>
  
          </tbody>

        </table>

      </div>

      <!-- PAGINACIÓN SIEMPRE ABAJO -->
      <div class="d-flex justify-content-between align-items-center mt-3"
           style="flex-shrink: 0;">

        <button class="btn btn-outline-secondary"
                (click)="prevPage()"
                [disabled]="page === 1">
          Anterior
        </button>

        <span>Página {{ page }} de {{ totalPages }}</span>

        <button class="btn btn-outline-secondary"
                (click)="nextPage()"
                [disabled]="page === totalPages">
          Siguiente
        </button>

      </div>

    </div>

  </div>

</div>


<ng-template #loadingSpinner>
  <loading-spinner class="w-100 h-100"></loading-spinner>
</ng-template>
