<nav *ngIf="(authService.userProfile$ | async) as profile " class="navbar fixed-top  ms-auto"

[ngClass]="{
    'top-navbar-production':productionMode,
    'top-navbar-development':!productionMode
 }"


>


    <div class="d-flex w-100">

        <div class="d-flex w-50 align-items-center ms-3">

            <div *ngIf="navbarstateService.displaySideNavbar | async ; else showOpenIcon "  (click)="navbarstateService.toggleSideNavbar()" style="font-size: 20px !important" class="text-white cursor-pointer">
                <i class="fa-solid fa-angles-left"></i>
            </div>
            
        
        <ng-template #showOpenIcon>
               <i (click)="navbarstateService.toggleSideNavbar()" style="font-size: 20px !important" class="fa-solid fa-angles-right text-white cursor-pointer"></i>
        </ng-template>

        </div>

        <div class="container-fluid d-flex  w-50 justify-content-end align-items-center text-white" sytle='border:solid' >
            <div class="m-2 user-select-none">{{profile.name}}</div>
    
            <div class="dropdown rtl cursor-pointer">
       
                 <img [src]="profile?.hasProfilePicture? profilePicturePath+'ProfilePic_'+profile.id+'.jpeg'   + '?t=' + timestamp: profilePicturePath+'avatar.jpeg'" alt="..." class="rounded-circle avatar" (click)="showDropdown()">
                 
    
                 <div class="dropdown-menu dropdown-menu-right mt-1" aria-labelledby="dropdownMenu1" [ngClass]="{'show': toggleFlag}">
                    <a  [routerLink]="['/users/profile']" class="dropdown-item" > Perfil      <i class="bi bi-person-fill"></i></a>
                    <a class="dropdown-item" (click)="logOut()">Salir        <i class="bi bi-box-arrow-right"></i> </a>
                  </div>
            </div>
        </div>
        

    </div>

  


        
       
   
</nav>


